body {
    background-color: white;
  }
  
  h1 {
    font-family: verdana;
    color: black;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  div {
    text-align: center;
  }